# vscode
.vscode

# virtual environment
venv

# python cache
__pycache__
*.pyc

# environment mappings
.env
.env.db

# expected output
ports_*.json

# scrapy
logs_*.txt

# airflow
airflow.cfg
*.swp
logs
data

# testing
htmcov
htmlcov
xmlcov
coverage.*